
---
BasedOnStyle: LLVM

# --- Indentation ---
UseTab: Never
IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -4
IndentAccessModifiers: false

# --- Comment style ---
AlignTrailingComments: false
ReflowComments: false

# --- Pointer / reference style ---
PointerAlignment: Left

# --- Brace styles ---
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterNamespace: true
  AfterClass: true

  # Everything else:
  AfterStruct: false
  AfterEnum: false
  AfterControlStatement: false
  AfterCaseLabel: false
  BeforeElse: false
  BeforeCatch: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

PackConstructorInitializers: NextLineOnly

AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
ColumnLimit: 100
...
